
@{
    ViewData["Title"] = "Our Latest Blog";
    Layout = "~/Views/Appy/_blog.cshtml";
}


<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article class="post-single sticky">
                    <figure class="post-media">
                        <img src="~/template/appy/images/sticky-image.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">5 tips for those, who need to make more room in their closet</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
                <div class="space-100"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="~/template/appy/images/blog-1.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">IOS 10: 8 Things we want froma pple iPhone8S</a></h4>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="~/template/appy/images/blog-2.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">Top destinations to escape from reality</a></h4>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="~/template/appy/images/blog-3.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">Five ways to wear a shirt by Victoria Beckha</a></h4>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="~/template/appy/images/blog-4.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">Use this exercise to solve any Product Design Challenge</a></h4>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="~/template/appy/images/blog-5.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">20 non-political reasons why Brexit is shit</a></h4>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="post-single">
                    <figure class="post-media">
                        <img src="~/template/appy/images/blog-6.jpg" alt="">
                    </figure>
                    <div class="post-body">
                        <div class="post-meta">
                            <div class="post-tags"><a href="#">People</a></div>
                            <div class="post-date">01.02.2017</div>
                        </div>
                        <h4 class="dark-color"><a href="@Url.Action("Single", "Appy")">Athleisure: What do Swedish people wear?</a></h4>
                        <a href="@Url.Action("Single", "Appy")" class="read-more">View Article</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <div class="nav-links">
                        <a href="#" class="prev page-numbers"><i class="lnr lnr-chevron-left"></i></a>
                        <a href="#" class="page-numbers">1</a>
                        <span class="page-numbers current">2</span>
                        <a href="#" class="page-numbers">3</a>
                        <a href="#" class="page-numbers">4</a>
                        <a href="#" class="page-numbers">5</a>
                        <a href="#" class="page-numbers">6</a>
                        <a href="#" class="next page-numbers"><i class="lnr lnr-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe-Form -->
<div class="subscribe-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="subscribe-form text-center">
                    <h3 class="blue-color">Subscribe for More Features</h3>
                    <div class="space-20"></div>
                    <form id="mc-form">
                        <input type="email" class="control" placeholder="Enter your email" required="required" id="mc-email">
                        <button class="bttn-white active" type="submit"><span class="lnr lnr-location"></span> Subscribe</button>
                        <label class="mt10" for="mc-email"></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe-Form-Area -->
