
@{
    ViewData["Title"] = "BlogSidebarLeft";
    Layout = "~/Views/Appson/_BlogSidebarLeft.cshtml";
}

<!-- preloader area start -->
<div id="preloader">
    <div class="spinner"></div>
</div>
<!-- preloader area end -->
<!-- header area start -->
<header class="header-area bg-theme">
    <div class="container">
        <div class="row">
            <div class="menu-area">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="logo">
                        <a href="@Url.Action("Home1", "Appson")"><img src="~/template/appson/appson/assets/img/icon/logo.png" alt="Appson - App Landing Template"></a>
                    </div>
                </div>
                <div class="col-md-9 hidden-xs hidden-sm">
                    <div class="main-menu">
                        <nav class="nav-menu">
                            <ul>
                                <li class="active"><a href="@Url.Action("Home1", "Appson")#home">Home</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#about">About</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#features">Features</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#screenshot">Screenshot</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#download">download</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#pricing">Pricing</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#review">Review</a></li>
                                <li><a href="@Url.Action("Home1", "Appson")#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="mobile_menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
<!-- crumbs area start -->
<div class="crumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="crumbs-inner">
                    <h2>Blog</h2>
                    <ul>
                        <li><a href="@Url.Action("Home1", "Appson")">Home</a></li>
                        <li><span>Blog Left Sidebar</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- crumbs area end -->
<!-- blog post area start -->
<div class="blog-post-area bp-with-sidebar flex-left-sidebar pb--100">
    <div class="container">
        <div class="row">
            <!-- sidebar area start -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="sidebar--area">
                    <!-- widget search area start -->
                    <div class="widget widget-search">
                        <form action="#">
                            <input type="text" placeholder="Search here">
                            <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- widget search area end -->
                    <!-- widget recent post area start -->
                    <div class="widget widget-recent-post">
                        <div class="widget-title">
                            <h2>Recent Post</h2>
                        </div>
                        <div class="recent--post-list">
                            <div class="rc-single-post">
                                <div class="meta-thumb">
                                    <a href="#"><img src="~/template/appson/appson/assets/img/sidebar/sidebar-thumb1.jpg" alt="post thumb"></a>
                                </div>
                                <div class="meta--content">
                                    <a href="#">Cras dictum dolor vel eros gravida molestie.</a>
                                    <span class="up-time">20 jan , 2017 </span>
                                </div>
                            </div>
                            <div class="rc-single-post">
                                <div class="meta-thumb">
                                    <a href="#"><img src="~/template/appson/appson/assets/img/sidebar/sidebar-thumb2.jpg" alt="post thumb"></a>
                                </div>
                                <div class="meta--content">
                                    <a href="#">Cras dictum dolor vel eros gravida molestie.</a>
                                    <span class="up-time">20 jan , 2017 </span>
                                </div>
                            </div>
                            <div class="rc-single-post">
                                <div class="meta-thumb">
                                    <a href="#"><img src="~/template/appson/appson/assets/img/sidebar/sidebar-thumb3.jpg" alt="post thumb"></a>
                                </div>
                                <div class="meta--content">
                                    <a href="#">Cras dictum dolor vel eros gravida molestie.</a>
                                    <span class="up-time">20 jan , 2017 </span>
                                </div>
                            </div>
                            <div class="rc-single-post">
                                <div class="meta-thumb">
                                    <a href="#"><img src="~/template/appson/appson/assets/img/sidebar/sidebar-thumb4.jpg" alt="post thumb"></a>
                                </div>
                                <div class="meta--content">
                                    <a href="#">Cras dictum dolor vel eros gravida molestie.</a>
                                    <span class="up-time">20 jan , 2017 </span>
                                </div>
                            </div>
                            <div class="rc-single-post">
                                <div class="meta-thumb">
                                    <a href="#"><img src="~/template/appson/appson/assets/img/sidebar/sidebar-thumb5.jpg" alt="post thumb"></a>
                                </div>
                                <div class="meta--content">
                                    <a href="#">Cras dictum dolor vel eros gravida molestie.</a>
                                    <span class="up-time">20 jan , 2017 </span>
                                </div>
                            </div>
                            <div class="rc-single-post">
                                <div class="meta-thumb">
                                    <a href="#"><img src="~/template/appson/appson/assets/img/sidebar/sidebar-thumb6.jpg" alt="post thumb"></a>
                                </div>
                                <div class="meta--content">
                                    <a href="#">Cras dictum dolor vel eros gravida molestie.</a>
                                    <span class="up-time">20 jan , 2017 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- widget recent post area end -->
                    <!-- widget categoriy area start -->
                    <div class="widget widget-category">
                        <div class="widget-title">
                            <h2>Categories</h2>
                        </div>
                        <div class="widget--category-list">
                            <ul>
                                <li><a href="#"> Technology <span>(07)</span></a></li>
                                <li><a href="#">Mobile Apps <span>(10)</span></a></li>
                                <li><a href="#">Cognitive Science <span>(08)</span></a></li>
                                <li><a href="#">Artificial Intelligence <span>(27)</span></a></li>
                                <li><a href="#">Product Updates <span>(03)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- widget categoriy area end -->
                    <!-- widget archive area start -->
                    <div class="widget widget-archive">
                        <div class="widget-title">
                            <h2>Archive</h2>
                        </div>
                        <div class="widget--archive-list">
                            <ul>
                                <li><a href="#">Jul 2017 <span>(07)</span></a></li>
                                <li><a href="#">Jan 2016 <span>(10)</span></a></li>
                                <li><a href="#">Jul 2015 <span>(08)</span></a></li>
                                <li><a href="#">Jan 2014 <span>(27)</span></a></li>
                                <li><a href="#">Jul 2013 <span>(03)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- widget archive area end -->
                    <!-- widget tags area start -->
                    <div class="widget widget-tags">
                        <div class="widget-title">
                            <h2>Tags</h2>
                        </div>
                        <div class="widget-tag-list">
                            <a href="#">BLOG</a>
                            <a href="#">TECHNOLOGY</a>
                            <a href="#">MOBILE</a>
                            <a href="#">PRODUCT UPDATES</a>
                            <a href="#">CHANGELOG</a>
                        </div>
                    </div>
                    <!-- widget tags area end -->
                </div>
            </div>
            <!-- sidebar area end -->
            <!-- blog list area start -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="blog-list">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="list-item">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("BlogDetail", "Appson")"><img src="~/template/appson/appson/assets/img/blog/blog-thumb1.jpg" alt="blog thumbnail"></a>
                                </div>
                                <h2 class="blog-title"><a href="@Url.Action("BlogDetail", "Appson")">Work For Success</a></h2>
                                <div class="blog-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                        <li><i class="fa fa-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <div class="blog-summery">
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam.</p>
                                </div>
                                <a href="@Url.Action("Blog", "Appson")" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="list-item">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("BlogDetail", "Appson")"><img src="~/template/appson/appson/assets/img/blog/blog-thumb2.jpg" alt="blog thumbnail"></a>
                                </div>
                                <h2 class="blog-title"><a href="@Url.Action("BlogDetail", "Appson")">Work For Success</a></h2>
                                <div class="blog-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                        <li><i class="fa fa-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <div class="blog-summery">
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam.</p>
                                </div>
                                <a href="@Url.Action("Blog", "Appson")" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="list-item">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("BlogDetail", "Appson")"><img src="~/template/appson/appson/assets/img/blog/blog-thumb3.jpg" alt="blog thumbnail"></a>
                                </div>
                                <h2 class="blog-title"><a href="@Url.Action("BlogDetail", "Appson")">Work For Success</a></h2>
                                <div class="blog-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                        <li><i class="fa fa-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <div class="blog-summery">
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam.</p>
                                </div>
                                <a href="@Url.Action("Blog", "Appson")" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="list-item">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("BlogDetail", "Appson")"><img src="~/template/appson/appson/assets/img/blog/blog-thumb1.jpg" alt="blog thumbnail"></a>
                                </div>
                                <h2 class="blog-title"><a href="@Url.Action("BlogDetail", "Appson")">Work For Success</a></h2>
                                <div class="blog-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                        <li><i class="fa fa-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <div class="blog-summery">
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam.</p>
                                </div>
                                <a href="@Url.Action("Blog", "Appson")" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="list-item">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("BlogDetail", "Appson")"><img src="~/template/appson/appson/assets/img/blog/blog-thumb2.jpg" alt="blog thumbnail"></a>
                                </div>
                                <h2 class="blog-title"><a href="@Url.Action("BlogDetail", "Appson")">Work For Success</a></h2>
                                <div class="blog-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                        <li><i class="fa fa-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <div class="blog-summery">
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam.</p>
                                </div>
                                <a href="@Url.Action("Blog", "Appson")" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="list-item">
                                <div class="blog-thumbnail">
                                    <a href="@Url.Action("BlogDetail", "Appson")"><img src="~/template/appson/appson/assets/img/blog/blog-thumb3.jpg" alt="blog thumbnail"></a>
                                </div>
                                <h2 class="blog-title"><a href="@Url.Action("BlogDetail", "Appson")">Work For Success</a></h2>
                                <div class="blog-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>12 Feb 2017</li>
                                        <li><i class="fa fa-comment"></i>Comments</li>
                                    </ul>
                                </div>
                                <div class="blog-summery">
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim niam.</p>
                                </div>
                                <a href="@Url.Action("Blog", "Appson")" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination area start -->
                <div class="pagination">
                    <ul>
                        <li><a href="#">OLDER POSTS</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><span>3</span></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">NEWER POSTS</a></li>
                    </ul>
                </div>
                <!-- pagination area end -->
            </div>
            <!-- blog list area end -->
        </div>
    </div>
</div>
<!-- blog post area end -->
<!-- footer area start -->
<footer>
    <div class="footer-area bg-theme ptb--50">
        <div class="container">
            <div class="footer-inner">
                <ul class="fsocial">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <p class="copy-right">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
